*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-items: center;
    align-content: center;
}



.tudo{
    width: 367px;
    height: 100vh;
    position: absolute;
}



label{
    position: relative;
    left: -105px;
}



input, input:focus{
    padding: 7px;
    border-radius: 20px;
    outline: none;
    position: absolute;
    right: 30px;
    margin-top: 220px;
    text-align: left;
}




.c{
    border: 4px solid red;
    top: 71.5px;
}
.c:focus{
    left: 140px;
}
.lc{
    color: red;
}



.f{
    border: 4px solid orange;
    top: 134.4px;
}
.f:focus{
    left: 140px;
}
.lf{
    color: orange;
}



.k{
    border: 4px solid cornflowerblue;
    top: 195.6px;
}
.k:focus{
    left: 140px;
}
.lk{
    color: cornflowerblue;
}



.d{
    margin: 40px 20px;
    font-size: 20px;
}



button{
    padding: 7.5px 20px;
    border-radius: 40px;
    border: 2px solid;
    background-color: #2196f3;
    font-size: 15px;
    color: aliceblue;
    margin-left: 135px;
}

button:hover{
    background-color: #6eb8f5;
}

button:active{
    background-color: #9acef8;
}