*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.exe1{
    background-color: lightgray;
}

.exe2{
    background-color: lightgray;
}

.exe3{
    background-color: lightgray;
}

.exe4{
    background-color: lightgray;
}

.exe5{
    background-color: lightgray;
}